@import url(https://fonts.googleapis.com/css?family=Nunito);.o-homepage .m-homepage__top {
  width: 100%;
  text-align: center;
  padding-top: 60px;
}

.o-homepage .m-homepage__top img {
  margin-top: 80px;
  width: 80%;
  height: auto;
}

.o-homepage .m-homepage__top h1 {
  color: #808080;
  font-size: 50px;
}

.o-homepage .m-homepage__bot {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 100px;
}

.o-homepage .m-homepage__bot-left {
  width: 60%;
}

.o-homepage .m-homepage__bot-left h1 {
  color: #399F90;
  font-size: 40px;
}

.o-homepage .m-homepage__bot-left p {
  color: #808080;
  padding-right: 40px;
}

.o-homepage .m-homepage__bot-right {
  width: 40%;
  height: 100%;
}

.o-homepage .m-homepage__bot-right img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 250px;
}

.o-aboutpage h1,
.o-aboutpage h2 {
  color: #399F90;
}

.o-aboutpage p {
  color: #808080;
}

.o-contactpage h1 {
  color: #399F90;
}

.o-contactpage .o-contactform {
  font-size: 16px;
}

.o-contactpage .o-contactform input,
.o-contactpage .o-contactform textarea,
.o-contactpage .o-contactform button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

.o-nieuwsletterpage h1 {
  color: #399F90;
}

.o-nieuwsletterpage .o-nieuwsletterform {
  font-size: 16px;
}

.o-nieuwsletterpage .o-nieuwsletterform input,
.o-nieuwsletterpage .o-nieuwsletterform button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

.o-donationpage__form {
  font-size: 16px;
}

.o-donationpage__form input,
.o-donationpage__form button {
  border: none;
  border-bottom: 2px solid #399F90;
  display: block;
  width: 100%;
  margin: 10px;
  padding: 1rem;
  padding-bottom: 5px;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

.o-donationpage__form input:nth-child(7) {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.o-donationpage__form label {
  display: block;
  width: 100%;
  margin: 10px;
  padding: 1rem;
  padding-bottom: 5px;
  font-size: 20px;
  color: #399F90;
  font-family: "Nunito", sans-serif;
}

.o-donationpage__form textarea {
  border: 2px solid #399F90;
  display: block;
  width: 100%;
  margin: 10px;
  padding: 1rem;
  padding-bottom: 5px;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

.o-donationpage__form button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 0;
  padding: 20px 20px;
  padding-bottom: 5px;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  background-color: #399F90;
}

.o-donationpage__form button p {
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 20px;
}

.o-donationpage h1 {
  color: #399F90;
}

.o-donationpage h3 {
  color: #808080;
  font-size: 60px;
  font-weight: 1000;
  text-align: center;
}

.o-donationpage__list {
  list-style-type: none;
  padding: 0;
}

.o-donationpage__list h1 {
  color: #399F90;
}

.o-donationpage__list h2 {
  color: #DCDCDC;
  padding-bottom: 80px;
}

.o-donationpage__list a {
  text-decoration: none;
}

.o-donationpage__list .a-date {
  text-align: right;
  color: #808080;
}

.o-donationpage__list .m-donationcard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  border: #399F90 solid 2px;
  border-radius: 5px;
  padding: 0 50px;
  margin: 20px 0;
  box-shadow: 0px 10px 8px -2px rgba(235, 235, 235, 0.66);
}

.o-donationpage__list .m-donationcard__left {
  width: 50%;
}

.o-donationpage__list .m-donationcard__left p {
  color: #808080;
}

.o-donationpage__list .m-donationcard__right {
  width: 50%;
  text-align: center;
}

.o-donationpage .pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.o-donationpage .pagination li {
  padding: 0 10px;
}

.o-donationpage .pagination li a {
  color: #DCDCDC;
}

.o-donationpage .pagination li span {
  color: #808080;
}

.o-blogspage h1 {
  color: #399F90;
}

.o-blogspage h2 {
  color: #DCDCDC;
  padding-bottom: 80px;
}

.o-blogspage a {
  text-decoration: none;
}

.o-blogspage .a-add {
  color: #ffffff;
  background-color: #399F90;
  width: 20%;
  box-shadow: 0px 10px 8px -2px rgba(235, 235, 235, 0.66);
  margin: auto;
  text-align: center;
  padding: 20px 30px;
  border-radius: 5px;
}

.o-blogspage .m-blog {
  border: #399F90 solid 2px;
  border-radius: 5px;
  padding: 0 50px;
  margin: 20px 0;
  box-shadow: 0px 10px 8px -2px rgba(235, 235, 235, 0.66);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.o-blogspage .m-blog__left {
  width: 50%;
}

.o-blogspage .m-blog__left h1,
.o-blogspage .m-blog__left p {
  color: #808080;
}

.o-blogspage .m-blog__right {
  width: 50%;
  text-align: center;
}

.o-blogspage .a-date {
  text-align: right;
  color: #808080;
}

.o-blogspage .pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.o-blogspage .pagination li {
  padding: 0 10px;
}

.o-blogspage .pagination li a {
  color: #DCDCDC;
}

.o-blogspage .pagination li span {
  color: #808080;
}

.o-blogaddpage h1 {
  color: #399F90;
}

.o-blogaddpage .o-blogaddform {
  font-size: 16px;
}

.o-blogaddpage .o-blogaddform input,
.o-blogaddpage .o-blogaddform textarea,
.o-blogaddpage .o-blogaddform button {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 5px;
  padding: 1rem;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

header {
  height: 120px;
  width: 100%;
}

.m-nav {
  list-style-type: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  box-shadow: 0px 10px 8px -2px rgba(235, 235, 235, 0.66);
}

.m-nav img {
  max-width: 90px;
  height: auto;
}

.m-nav img:active,
.m-nav img:hover {
  transition: ease-in 0.2s;
  max-width: 100px;
}

.m-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
}

.m-nav li a {
  color: #399F90;
  text-decoration: none;
  width: 140px;
  text-align: center;
}

.m-nav li a:active,
.m-nav li a:hover {
  transition: ease-in 0.2s;
  font-size: 22px;
}

footer {
  background-color: #399F90;
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

footer p {
  padding: 0 20px;
  color: #ffffff;
}

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content {
  margin: 0 10%;
}

