// donation
.o-donationpage {

    &__form {
        font-size: 16px;

        input, button {
            border: none;
            border-bottom: 2px solid $green;
            display: block;
            width: 100%;
            margin: 10px;
            padding: 1rem;
            padding-bottom: 5px;
            font-size: 1rem;
            font-family: $font-family-sans-serif;
        }

        input:nth-child(7) {
            width: fit-content;
        }

        label {
            display: block;
            width: 100%;
            margin: 10px;
            padding: 1rem;
            padding-bottom: 5px;
            font-size: 20px;
            color: $green;
            font-family: $font-family-sans-serif;
        }

        textarea {
            border: 2px solid $green;
            display: block;
            width: 100%;
            margin: 10px;
            padding: 1rem;
            padding-bottom: 5px;
            font-size: 1rem;
            font-family: $font-family-sans-serif;
        }

        button {
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 40px 0;
            padding: 20px 20px;
            padding-bottom: 5px;
            font-size: 1rem;
            font-family: $font-family-sans-serif;
            background-color: $green;
            p {
                font-size: 30px;
                color: $white;
                padding-bottom: 20px;
            }
        }
    }

    h1 {color: $green; }
    h3 {
        color: $darkgray;
        font-size: 60px;
        font-weight: 1000;
        text-align: center;
    }


    &__list {
        list-style-type: none;
        padding: 0;

        h1 {
            color: $green;
        }

        h2 {
            color: $gray;
            padding-bottom: 80px;
        }

        a {
            text-decoration: none;
        }

        .a-date {
            text-align: right;
            color: $darkgray;
        }

        .m-donationcard {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            border: $green solid 2px;
            border-radius: 5px;
            padding: 0 50px;
            margin: 20px 0;
            box-shadow: 0px 10px 8px -2px rgba(235,235,235,0.66);

            &__left {
                width: 50%;
                p {
                    color: $darkgray;
                }
            }

            &__right {
                width: 50%;
                text-align: center;
            }
        }
    }

    .pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;

        li {
            padding: 0 10px;
            a {
                color: $gray;
            }
            span {
                color: $darkgray;
            }
        }
    }
}
